#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    maroon,
    rgb(26 145 255 / 59%),
    #4e4e18
  );
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 7, 27, 0.4);
  color: white;
  border: 2px outset rgba(15, 150, 160, 0.726);
  height: 469px;
  width: 462px;
  padding: 20px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.box {
  height: 436px;
  width: 462px;
}

label {
  font-size: 20px;
}

.input-size {
  color: rgba(31, 21, 21, 0.829);
  width: 452px;
  height: 34px;
  border-radius: 14px;
}

.box-btn {
  display: flex;
  flex-direction: column;
}

#submit {
  background-color: #31ffa5;
  color: rgba(13, 15, 24, 0.884);
}

#cancel {
  background-color: red;
  color: white;
}
